<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>NewTourPract.testNg()[pri:0, instance:com.codistan.emine.practice.NewTourPract@43814d18]<br/></td></tr>
<tr><td>smokeTest</td><td>NewTourPract.testNg()[pri:0, instance:com.codistan.emine.practice.NewTourPract@43814d18]<br/></td></tr>
</table>
