<h2>Methods that were not run</h2><table>
<tr><td>com.codistan.emine.practice.NewTourPract.assertEquals<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>assertEquals</i></td></tr>
<tr><td>com.codistan.emine.practice.NewTourPract.testNg</td></tr>
</table>